<div class="table-container">
    <div class="table-container__header">
        <h2 class="table-container__title">Categories</h2>
        <a href="/categories/new" class="table-container__button">Add Category</a>
    </div>

    <div class="table-container__content">
        <table class="table-container__table">
            <thead class="table-container__thead">
                <tr class="table-container__tr">
                    <th class="table-container__th">Category Name</th>
                    <th class="table-container__th">Number of Products</th>
                    <th class="table-container__th">Actions</th>
                </tr>
            </thead>
            <tbody class="table-container__tbody">
                <tr class="table-container__tr">
                    <td class="table-container__td">Burgers</td>
                    <td class="table-container__td">5</td>
                    <td class="table-container__td">
                        <div class="table-container__actions">
                            <a href="/categories/edit/1" class="table-container__button table-container__button--edit">Edit</a>
                            <button class="table-container__button table-container__button--delete">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr class="table-container__tr">
                    <td class="table-container__td">Sides</td>
                    <td class="table-container__td">8</td>
                    <td class="table-container__td">
                        <div class="table-container__actions">
                            <a href="/categories/edit/2" class="table-container__button table-container__button--edit">Edit</a>
                            <button class="table-container__button table-container__button--delete">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr class="table-container__tr">
                    <td class="table-container__td">Drinks</td>
                    <td class="table-container__td">6</td>
                    <td class="table-container__td">
                        <div class="table-container__actions">
                            <a href="/categories/edit/3" class="table-container__button table-container__button--edit">Edit</a>
                            <button class="table-container__button table-container__button--delete">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 