<div class="dashboard">
    <div class="dashboard__stat-box">
        <h3 class="dashboard__stat-title">Total Orders</h3>
        <p class="dashboard__stat-value">
            45
        </p>
    </div>

    <div class="dashboard__stat-box">
        <h3 class="dashboard__stat-title">Total Revenue</h3>
        <p class="dashboard__stat-value">€12,345</p>
    </div>

    <div class="dashboard__stat-box">
        <h3 class="dashboard__stat-title">Most Popular Product</h3>
        <p class="dashboard__stat-value">Chicken Burger</p>
    </div>
</div>