<div class="table-container">
    <div class="table-container__header">
        <h2 class="table-container__title">Ingredients</h2>
        <a href="/ingredients/new" class="table-container__button">Add Ingredient</a>
    </div>

    <div class="table-container__content">
        <table class="table-container__table">
            <thead class="table-container__thead">
                <tr class="table-container__tr">
                    <th class="table-container__th">ID</th>
                    <th class="table-container__th">Ingredient Name</th>
                    <th class="table-container__th">Ingredient Type</th>
                    <th class="table-container__th">Price</th>
                    <th class="table-container__th">Actions</th>
                </tr>
            </thead>
            <tbody class="table-container__tbody">
                <% if(ingredients.length !==0) { %>
                    <% ingredients.forEach(ingredient=> { %>
                        <tr class="table-container__tr">
                            <td class="table-container__td">
                                <%= ingredient.id %>
                            </td>
                            <td class="table-container__td">
                                <%= ingredient.name %>
                            </td>
                            <td class="table-container__td">
                                <%= ingredient.type %>
                            </td>
                            <td class="table-container__td">
                                <%= ingredient.price %>
                            </td>
                            <td class="table-container__td">
                                <div class="table-container__actions">
                                    <a href="/categories/edit/1"
                                        class="table-container__button table-container__button--edit">Edit</a>
                                    <button
                                        class="table-container__button table-container__button--delete">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <% })} %>
            </tbody>
        </table>
    </div>
</div>